.card.large.sticky-action.hoverable
  .card-image.waves-effect.waves-block.waves-light
    %img.activator{src: "http://placehold.it/350/#{random_color}/000000"}

  .card-content
    %span.card-title.activator.grey-text.text-darken-4
      = recipe.name
      %i.material-icons.right expand_less
    %p
      = truncate(recipe.description, length: 78)
  .card-action
    = link_to "view", recipe
    .right
      = render partial: 'users/chip', locals: {user: recipe.user}

  .card-reveal
    %span.card-title.grey-text.text-darken-4
      = recipe.name
      %i.material-icons.right expand_more
    %ul.collection
      - recipe.ingredients.each do |ingredient|
        %li.collection-item= ingredient.to_s
    %p= recipe.description
